* {
  margin: 0;
  padding: 0;
}

.Meal body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.Meal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Meal section {
  margin: 2rem 0 1rem 0;
}

.Meal .controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Meal input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.Meal button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #1890ff;
  color: #f3f3f3;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.Meal button:hover {
  background-color: #40a9ff;
  cursor: pointer;
}

.Meal main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Meal h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.Meal .nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.Meal .meals {
  display: flex;
}

.Meal img {
  width: 100%;
  margin-bottom: 1rem;
}

.Meal article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

.Meal ul {
  list-style: none;
}

.Meal .instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.Meal a {
  text-decoration: none;
  /*background-color: #1890ff;*/
  color: #1890ff;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.Meal a:hover {
  /*background-color: #40a9ff;*/
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .Meal .meals {
    flex-direction: column;
    align-items: center;
  }

  .Meal .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}